.menu {
  position: absolute;
  top: 50px;
  left: calc(50% - 190.5px);
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  gap: 50px;
  font-size: 20px;
  z-index: 1;
}
.home,
.plantClassifications,
.aboutUs {
  font-family: Inter;
  position: relative;
  cursor: pointer;
  color: #446a12;
}

.home span,
.plantClassifications span,
.aboutUs span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 3px solid #83bd1a;
  transform: scale(0) translateY(50px);
  opacity: 0;
  transition: 0.5s;
}

.home:hover span,
.plantClassifications:hover span,
.aboutUs:hover span {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.homeActive,
.plantClassificationsActive,
.aboutUsActive {
  font-weight: bold;
  position: relative;
  cursor: pointer;
  color: #83bd1a;
  transition: 0.3s;
}

.homeActive span,
.plantClassificationsActive span,
.aboutUsActive span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-bottom: 3px solid #83bd1a;
  opacity: 1;
  transform: scale(1) translateY(0);
  transition: 0.5s;
}
.plantClassificationsActive {
  display: flex;
  flex-direction: row;
}

.plantClassifications {
  display: flex;
  flex-direction: row;
}

/* Start of dropdown */
.plantClassificationsActive ul.dropDown {
  background-color: #fff;
  width: 80%;
  height: 150px;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  list-style: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.plantClassificationsActive:hover > ul.dropDown {
  display: flex;
  flex-direction: column;
}
.plantClassificationsActive ul.dropDown li {
  margin-right: 40px;
  padding-top: 10px;
}

.plantClassificationsActive ul.dropDown li {
  text-decoration: none;
  color: #446a12;
  font-weight: 500;
}

.plantClassificationsActive ul.dropDown li:hover {
  text-decoration: none;
  color: #446a12;
  font-weight: bold;
}

.plantClassificationsActive img {
  transform: rotate(-90deg);
  margin-left: 5px;
  width: 10px;
  transition: 0.5s all;
}

.plantClassificationsActive:hover img {
  transform: rotate(0deg);
}

/* Not active */
.plantClassifications ul.dropDown {
  background-color: #fff;
  width: 80%;
  height: 150px;
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  list-style: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.plantClassifications:hover > ul.dropDown {
  display: flex;
  flex-direction: column;
}
.plantClassifications ul.dropDown li {
  margin-right: 40px;
  padding-top: 10px;
}

.plantClassifications ul.dropDown li {
  text-decoration: none;
  color: #446a12;
  font-weight: 500;
}

.plantClassifications ul.dropDown li:hover {
  text-decoration: none;
  color: #446a12;
  font-weight: bold;
}

.plantClassifications img {
  transform: rotate(-90deg);
  margin-left: 5px;
  width: 10px;
  transition: 0.5s all;
}

.plantClassifications:hover img {
  transform: rotate(0deg);
}
