.plantCard {
  line-height: 1.5;
  width: 1000px;
  background-color: rgba(203, 245, 126, 1);
  font-size: 20px;
  z-index: 1;
  font-family: Inter;
  border-radius: 50px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 450px);
  padding-bottom: 200px;
}

.plantName {
  width: 200px;
  height: 36px;
  position: relative;
  transform: translate(418px, 60px);
  font-size: 30px;
}

.plantSciName {
  position: absolute;
  transform: translate(74px, 150px);
  font-size: 25px;
}

.plantSciName .scientificNameText {
  font-size: 21px;
  position: relative;
  transform: translateX(100px);
}

.plantOrigin {
  width: 700px;
  position: absolute;
  transform: translate(74px, 230px);
  font-size: 25px;
}

.plantOrigin .originText {
  font-size: 21px;
  display: flex;
  transform: translate(20px, 10px);
  width: 100%;
}

.facts {
  width: 700px;
  position: absolute;
  transform: translate(74px, 510px);
  font-size: 25px;
}

.facts .factsText {
  font-size: 21px;
  display: flex;
  transform: translate(20px, 10px);
  width: 100%;
}
.uses {
  width: 700px;
  position: absolute;
  transform: translate(74px, 790px);
  font-size: 25px;
}

.uses .usesText {
  font-size: 21px;
  display: flex;
  transform: translate(20px, 10px);
  width: 100%;
}

.benefits {
  width: 700px;
  position: absolute;
  transform: translate(74px, 1070px);
  font-size: 25px;
}

.benefits .benefitsText {
  font-size: 21px;
  display: flex;
  transform: translate(20px, 10px);
  width: 100%;
}

.caring {
  width: 700px;
  position: absolute;
  transform: translate(74px, 1350px);
  font-size: 25px;
}

.caring .caringText {
  font-size: 21px;
  display: flex;
  transform: translate(20px, 10px);
  width: 100%;
}

.recom {
  width: 700px;
  position: absolute;
  transform: translate(74px, 1630px);
  font-size: 25px;
}

.recom .recomText {
  font-size: 21px;
  display: flex;
  transform: translate(20px, 10px);
  width: 100%;
}

.plantImageContainer {
  position: relative;
  transform: translate(710px);
}

.plantImage {
  width: inherit;
  height: 176.67px;
}
