.plantCard {
  line-height: 1.5;
  width: 1000px;
  height: 1000px;
  background-color: rgba(203, 245, 126, 1);
  font-size: 20px;
  z-index: 1;
  font-family: Inter;
  border-radius: 50px;
  position: absolute;
  top: calc(50% - 200px);
  left: calc(50% - 450px);
}

.plantName {
  width: 200px;
  height: 36px;
  position: relative;
  transform: translate(418px, 60px);
  font-size: 30px;
}

.plantOrigin {
  width: 700px;
  position: absolute;
  transform: translate(74px, 150px);
  font-size: 25px;
}

.plantSciName {
  position: absolute;
  transform: translate(74px, 250px);
  font-size: 25px;
}

.plantDescription {
  width: 900px;
  position: absolute;
  transform: translate(74px, 310px);
  font-size: 25px;
}

.plantImageContainer {
  width: 257.97px;
  position: relative;
  transform: translate(710px);
}

.plantImage {
  width: inherit;
  height: 176.67px;
}
.scientificNameText {
  font-size: 21px;
  position: relative;
  transform: translateX(100px);
}
.originText {
  font-size: 21px;
  display: flex;
  transform: translate(100px, -35px);
  width: 600px;
}
.descriptionText {
  width: 800px;
  transform: translate(30px, 15px);
  display: flex;
  font-size: 21px;
  text-align: justify;
}
